/*HEADER*/
header {
   position: relative;
   height: 10px;
   width: 100%;
   text-align: center;
   z-index: 10;
}
ul, li, a {
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   background: black;
   list-style-type: none;
   text-decoration: none;
   color: white;
}
#nav-wrap {
   font: bold 12px 'Lucida Console', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   position: fixed;
   left: 0;
   top: 0;
}
ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
}
ul#nav li {
   list-style: none;
   height: 48px;
   display: inline-block;
}
ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
   text-align: left;
   font-size: 15px;
}
ul#nav li.current a { color: #5b00d3; }

/*ABOUT*/
#about {
   background: url(../images/about-background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding-top: 100px;
   padding-bottom: 50px;
   overflow: hidden;
}
#about h1 {
   font: 40px 'Lucidatypewriter', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   font: 20px 'Lucida Console';
   color: #ffffff;
}
.profile-image {
   background: url(../images/profileimage.png);
   background-size: contain;
   background-repeat: no-repeat;
   width: 200px;
   height: 150px;
}

/*RESUME*/
#resume {
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}
#resumel a:hover, #resumel a:focus { 
   color: #5b00d3; 
}
.sectionh {
   font: 24px 'Lucida Console', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   height: 100%;
   width: 200px;
   float: left;
   margin-top: 20px;
}
.sectionh span {
   border-bottom: 3px solid #5b00d3;
   padding-bottom: 6px;
}
#resume .info {
   font: 16px 'Lucida Console', serif;
   color: #ffffff;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}

/*PORTFOLIO*/
#portfolio {
   padding-top: 90px;
   padding-bottom: 60px;
}
.item-img {
   height: 200px;
   width: 300px;
}
.item-wrap {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   float: right;
}

/* Contact */
#contactForm {
   width: 500px;
}
.contacts {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   float: right;
}
#contact span.required {
	color: #5b00d3;
	font-size: 13px;
   float: left;
}
.contactLabel {
   font: 15px/24px 'Lucida Console', sans-serif;
   margin: 12px 0;
	float: left;
}
.contactInput {
   padding: 18px 20px;
	background: #cecbd1;
	margin-bottom: 42px;
	border: 0;
	outline: none;
   font-size: 15px;
   line-height: 24px;
   width: 200px;
   float: right;
}
.submit {
	text-transform: uppercase;
	letter-spacing: 3px;
	color:#fff;
   background: #340079;
	border: black;
   height: 30px;
   display: inline-block;
   margin-left: 26%;
}
.submit:hover {
	color: #0D0D0D;
	background: #5b00d3;
}

/* Footer */
footer {
   padding-top: 48px;
   background: url(../images/about-background.jpg);
   color: #ffffff;
   font-size: 14px;
   text-align: center;
   position: relative;
   background-color: white;
}
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
}